// переменные цветов
$btnviolet: #8824cd;
$backblue: #2e3b4e;
$backred: #e7526b;

// переменные шрифтов
$s_1: 15px; //use
$l_1: 26px;

$s_2: 13px; //use
$l_2: 24px;

$s_3: 18px; //use
$l_3: 60px;

$s_4: 19px; //use
$l_4: 30px;

$s_5: 35px; //use
$l_5: 60px;

$s_6: 40px; //use
$l_6: 50px;

$s_7: 50px; //use
$l_7: 70px;
