.body {
  font-family: "OpenSans-Regular", Arial, sans-serif;
  font-size: $s_1;
  line-height: $l_1;
  color: #ffffff;

  background-color: #4e3744;
}

.body--index .nav__link--index { // для активного пункта меню
  pointer-events: none !important; //отключаем событие клика
  cursor: default !important; //курсор обычный при наведении
  border-color: #ffffff !important;
}

