.search {
  position: relative;
}

.search svg {
  position: absolute;

  top: 50%;
  right: 20px;

  width: 14px;
  height: 14px;

  transform: translate(0, -50%);

  fill: #bbbbbb;
}

.search__input {
  width: 220px;

  padding: 16px 38px 16px 24px;

  border-radius: 30px;
  border: none;
}
