.logo {
  position: relative;

  display: block;

  height: 21px;

  &::after {
    position: absolute;
    content: "Photoshop Website Template";

    top: -4px;
    right: 0px;

    min-width: 200px;

    color: #ffffff;

    font-size: $s_2;
    line-height: $l_2;
  }
}

.logo__img {

}
