.contacts {
  min-height: 460px;

  background-color: $backred;
}

.contacts__wrapper {
  width: 1180px;

  margin: 0 auto;
}

.contacts__header {
  width: 400px;

  margin: 0;
  margin-bottom: 25px;
  padding-top: 78px;

  text-transform: uppercase;
}

.contacts__description {
  width: 400px;

  margin: 0;
  margin-bottom: 40px;
}

.contacts__mail {
  display: block;

  color: #ffffff;
}
